
<div class="header">
	<div class="desc-header">
		<h1 class="font-bold">Votre Service le plus proche !</h1>
		<h3 class="font-bold">Avec SenProxiService, retrouver les fournisseurs de services les proches de vous !</h3>

		<div class="search">
			<form action="">
				<div class="row">
					<div class="col-sm-3">
            <input list="sexe" class="form-control form-control-sm" placeholder="Secteur">
            <datalist id="sexe">
              <option value="Transport">
              <option value="Transformation">
              <option value="Education">
              <option value="Commerce">
              <option value="Pêche">
            </datalist>
					</div>
					<div class="col-sm-3">
						<input type="text" class="form-control form-control-sm" placeholder="Service">
					</div>
					<div class="col-sm-3">
						<input type="text" class="form-control form-control-sm" placeholder="Entreprise">
					</div>
					<div class="col-sm-3">
						<button type="submit" class="btn btn-sm btn-secondary w-100"><i class="fas fa-search"></i> Rechercher</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>

<div class="container-fluid py-4">
	<div class="col-lg-10 mx-auto py-4">

		<div class="row py-5">
			<div class="col-sm">
				<img src="../../../assets/images/illustrations/world.svg" width="400" class="rounded" alt="">
			</div>
			<div class="col-sm my-auto">
				<h2>Vos services les plus proches</h2>
				<h5 class="text-warning">Découvrez les meilleurs fournisseurs de services à proximité!</h5>
				<p class="text-justify">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vero, tenetur quo mollitia repellendus obcaecati excepturi necessitatibus ipsum voluptatibus ad inventore placeat deserunt ea, vel, tempora! Ex nihil quos non unde.</p>
			</div>
		</div>
	</div>
</div>

<div class="container-fluid py-4 bg-light">
	<div class="col-lg-10 mx-auto py-4">
		<div class="my-4" align="center">
			<h4>Meilleurs Services</h4>
			<p><i class="fas fa-star text-warning"></i><i class="fas fa-star text-warning"></i><i class="fas fa-star text-warning"></i><i class="fas fa-star text-warning"></i></p>
		</div>
		<div class="row">
			<div class="col-sm-3">
				<div class="card">
					<img src="../../../assets/images/header.jpg" class="card-img-top" alt="">
					<div class="card-body">
						<h5 class="card-title">Service</h5>
						<p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
						<div align="center">
							<a [routerLink]="['/company']" class="btn btn-sm btn-outline-warning">Voir plus...</a>
						</div>
					</div>
				</div>
			</div>
			<div class="col-sm-3">
				<div class="card">
					<img src="../../../assets/images/header.jpg" class="card-img-top" alt="">
					<div class="card-body">
						<h5 class="card-title">Service</h5>
						<p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
						<div align="center">
							<a [routerLink]="['/company']" class="btn btn-sm btn-outline-warning">Voir plus...</a>
						</div>
					</div>
				</div>
			</div>
			<div class="col-sm-3">
				<div class="card">
					<img src="../../../assets/images/header.jpg" class="card-img-top" alt="">
					<div class="card-body">
						<h5 class="card-title">Service</h5>
						<p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
						<div align="center">
							<a [routerLink]="['/company']" class="btn btn-sm btn-outline-warning">Voir plus...</a>
						</div>
					</div>
				</div>
			</div>
			<div class="col-sm-3">
				<div class="card">
					<img src="../../../assets/images/header.jpg" class="card-img-top" alt="">
					<div class="card-body">
						<h5 class="card-title">Service</h5>
						<p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
						<div align="center">
							<a [routerLink]="['/company']" class="btn btn-sm btn-outline-warning">Voir plus...</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="container-fluid py-4">
	<div class="col-lg-10 mx-auto py-4">
		
		<div class="row py-5">
			<div class="col-sm my-auto">
				<h2>Entreprise ou Ouvrier</h2>
				<h5 class="text-warning">Soyé plus proches des demandeurs</h5>
				<p class="text-justify">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vero, tenetur quo mollitia repellendus obcaecati excepturi necessitatibus ipsum voluptatibus ad inventore placeat deserunt ea, vel, tempora! Ex nihil quos non unde.</p>
			</div>
			<div class="col-sm">
				<img src="../../../assets/images/illustrations/place.svg" width="400" class="rounded" alt="">
			</div>
		</div>
	</div>
</div>

<div class="container-fluid py-4 bg-warning">
	<div class="col-lg-10 mx-auto py-4">
		<div class="row">
			<div class="col-sm-4">
				<h5>Inscrivez votre entreprise !</h5>
				<p class="text-justify">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit, minus! Harum mollitia quis saepe minima accusamus laudantium, hic.</p>
			</div>
			<div class="col-sm-8">
				<div class="row">
					<div class="col-sm text-center">
						<img src="../../../assets/images/header.jpg" class="rounded-circle" width="100" height="100" alt="">
						<h4 class="mt-2">Service</h4>
					</div>
					<div class="col-sm text-center">
						<img src="../../../assets/images/header.jpg" class="rounded-circle" width="100" height="100" alt="">
						<h4 class="mt-2">Service</h4>
					</div>
					<div class="col-sm text-center">
						<img src="../../../assets/images/header.jpg" class="rounded-circle" width="100" height="100" alt="">
						<h4 class="mt-2">Service</h4>
					</div>
					<div class="col-sm text-center">
						<img src="../../../assets/images/header.jpg" class="rounded-circle" width="100" height="100" alt="">
						<h4 class="mt-2">Service</h4>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>