#center,text{
    padding-top: 5%;
}

#prof{
    height: 20%;
	width: 20%;
	border-radius: 50%;
	-o-border-radius: 50%;
	-ms-border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
}
.text-svg{
    background-color: grey;
    width: 100%;
    height: 150px;
}
.text-svg,.svg, .carousel,.text-right, .text-only, .recherche {
    display: flex;
    text-align: center;
}
.text, .text-left,.text-right{
    width: 50%;
}
.svgR{
    
    height: 70%;
	width: 15%;
    margin-top: 1%;
    margin-left: 3%;
    margin-right: 3%;
}
.svg{
   
    width: 50%;
}
.svgI{
    width: 100%;
    height: 100%;
    
}
.svgI,.svgR{
    border-radius: 100%;
	-o-border-radius: 100%;
	-ms-border-radius: 100%;
	-moz-border-radius: 100%;
	-webkit-border-radius: 100%;
}


.carousel{
    height: 400px;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 10%;
    margin-bottom: 5%;
}
.text-only{
    margin-top: 3%;
    width: 100%;
    height: 50%;
}
.text-small{
    width: 50%;
    height: 100%;
}
.recherche{   
    background-color: rgb(235, 228, 228);
    margin-left: 28%;
    margin-top: 25%;   
    padding-top: 1%;
    padding-right: 2%;
    padding-left: 1%;
    border-radius: 30px;
}
.carousel{
    position: relative;
    opacity: 0.7;
}
.separation{
    margin-left: 1%;
    margin-right: 1%;
}
.bord{
    border: 5%;
    border-color: black;
}
.header {
	position: relative;
	background-image: url('../../../assets/images/header.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	height: 100vh;
}

.header .desc-header {
	position: absolute;
	top: 30%;
	left: 20%;
	width: 60%;
	text-align: center;
	text-shadow: rgba(0, 0, 0, 1.0);
	background-color: rgba(216, 216, 200, .5);
	padding: 30px;
	box-shadow: 0 2px 10px white;
}

.header .search {
	margin-top: 5%;
	padding: 15px;
	background-color: #eee;
	border-radius: 10px;
}