<router-outlet></router-outlet>


<div class="container-fluid py-4 bg-dark text-white">
	<div class="container mx-auto py-4">
		<div class="row">
			<div class="col-sm">
				<h4>SenProxiService</h4>
				<p>SenProxiService est une plateforme qui propose aux usagers les meilleurs fournisseurs de services les plus proche.</p>
			</div>
			<div class="col-sm" align="center">
				<h4>Liens utils</h4>
				<ul class="list-unstyled ml-3">
					<li>Recherche</li>
					<li>Connexion</li>
					<li>Inscription</li>
				</ul>
			</div>
			<div class="col-sm">
				<h4>Contacts</h4>
				<ul class="list-unstyled ml-3">
					<li><i class="fas fa-phone mr-2"></i> +221 772345625 / 338652387</li>
					<li><i class="fas fa-envelope mr-2"></i> info@senproxiservice.com</li>
					<li><i class="fas fa-map mr-2"></i> Dakar, Saint-Louis</li>
				</ul>
			</div>
		</div>
	</div>
</div>